---
title: Front Page
do_sitemap: true
frontpage: true
pagination:
   enabled: true
---
<div class="text">
	<section> <b> <h2> Greetings, wanderer! </h2> </b> </section>

    <section class="bio-container">
        <a href="/assets/img/avi.png"><picture>
            <source type="image/webp" srcset="/assets/img/avis/avi-150px.webp,
                                              /assets/img/avis/avi-300px.webp 2x,
                                              /assets/img/avis/avi-500px.webp 3.3x">
            <source type="image/png" srcset="/assets/img/avis/avi-150px.png,
                                             /assets/img/avis/avi-300px.png 2x,
                                             /assets/img/avis/avi-500px.png 3.3x">
            <img class="u-photo avi" src="/assets/img/avi.png" alt="CompuCat's avatar." title="CompuCat's avatar.">
        </picture></a>

        <p class="p-note bio-text">
            You've found the homepage of CompuCat!
			<a href="{{ "/about" | relative_url }}">Read more about me here.</a><br>
			This homepage is a combined blog and personal repository for projects of all sorts.

      <br><br> Parts of this site are woefully out of date; I haven't had as much time to write as I would like lately. If you're on desktop, peek over at the Mastodon timeline to the left for more frequent tidbits.

			<br><br>You can view content by category using the navbar above; or, simply look below to see what's new.
        </p>
    </section>
</div>

<div id="index-paginator" class="h-feed">
{% for post in paginator.posts %}
<div class="h-entry post">
	<div class="header">
		<a class="u-url u-uid title" href="{{post.url |  static_url}}">
			<span class="p-name">
				{{post.title | escape}}</span></a>
		<div class="info">
			<span class="p-author h-card author"><a class="u-url u-uid" href="{{post.author_card}}">
				{{post.author | escape}}</a></span>
			<span class="p-category category">
				{{post.category | escape}}</span>
			<span class="p-category tags">
				{% for tag in post.tags %}
					{{tag | escape}}
				{% endfor %}
			</span>
			<time class="dt-published date" datetime="{{post.date | date_to_xmlschema}}">
				{{post.date | date_to_long_string }}</time>
		</div>
	</div>
	<div class="p-summary text">
		{{post.excerpt}}
		<a class="readmore" href="{{post.url |  static_url}}">Read more</a>
	</div>
</div>
{% endfor %}
<div class="page-select">
  {% if paginator.previous_page %}
	<a class="prev" href="{{paginator.previous_page_path | prepend: site.baseurl}}">Prev</a>
  {% endif %}
	<span class="pageno">Page {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
	<a class="next" href="{{paginator.next_page_path | prepend: site.baseurl}}">Next</a>
  {% endif %}
</div>

<data class="p-name invis" value="{{site.title}} - Posts"></data>
<span class="p-author h-card invis"><a class="u-url u-uid invis" href="{{page.author_card}}">{{page.author_legal}}</a></span>
<a class="u-url invis" href="{{page.url}}"></a>

</div>
