#page-footer {
	width: $page-width;
	margin: auto;
	margin-top: $page-element-margins;
	margin-bottom: $page-element-margins;

	font-size: 0.8em;
	text-align: center;
	color: $footer-text-color; 

	a {
		color: $footer-link-color;
	}


	.copyright {
		img {
			margin-top: 5px;
		}
	}
}
