#page-header {
	@include page-element;

	//Layout
	width: $header-width;
	min-height: $header-min-height;
	@include respond-to(medium-screens) { width: $header-width-mobile; }
	margin: auto;
	margin-top: $page-element-margins;

	@include respond-to(wide-screens) { padding-left: 2em; }
	display: flex;
	flex-flow: row wrap;
	@include respond-to(medium-screens) {
		flex-flow: column nowrap;
		padding-top: 0.5em;
	}
	.title {
		//Layout
		align-self: center;

		font: $site-title-font-size $site-title-font-family;
		color: $content-title-text-colour;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		outline: 0;

		@include respond-to(medium-screens) {
			flex-grow: 1;
			text-align: center;
		}
	}
	nav {
		flex-grow: 1;
		display: flex;
		@include respond-to(wide-screens) { justify-content: flex-end; }
		@include respond-to(medium-screens) { min-height: 3em; }

		div {
			flex-grow: 1;
			@include respond-to(wide-screens) { max-width: $header-nav-max-width; }
			//border-bottom: transparent 3px solid;
			//padding-top: 3px; //counteract border for centering
			&.current{
				border-bottom: $accent-border 3px solid;
			}
			.dropdown-content{
					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					opacity: 0;
					z-index: 0;
					transform: translateY(-0.75em);
					display: block;
					visibility: hidden;
					flex-direction: column;
					width: 100%;
					position: absolute;
					top: $header-min-height;
					padding-top: -3px; //hack?
					background-color: $page-element-background;
					/* min-width: 160px; */
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					a{
						float: none;
						padding: 7px 12px;
						text-decoration: none;
						display: block;
						text-align: left;
						overflow: hidden;
						text-overflow: ellipsis;
						color: $site-nav-text-colour;
						font: $base-font-size $base-font-family;
						&:hover{background-color: darken($page-element-background, 15%);}
					}
			}

			&.dropdown {
				a{
					text-align: center;
				}
				&:hover {
					.dropdown-content{
						a{
							text-align: left;
						}
						visibility: visible;
						opacity: 1;
						z-index: 1;
						transform: translateY(-0.5em);
						transition-delay: 0s, 0s, 0.3s;
					}
				}
			}

			display: flex;
			justify-content: center;
			align-items: center;
			color: $site-nav-text-colour;
			font: $site-nav-font-size $site-nav-font-family;
			.link{
				height:100%;
				flex-grow: 1;
				@include respond-to(wide-screens) { max-width: $header-nav-max-width; }
				transition: 0.15s linear;
				$hovercolor: lighten($blue, 30%); //darken($page-element-background, 10%);
				&:active {background: $hovercolor;}
				&:hover {background: $hovercolor;}
				&:focus {background: $hovercolor;}

				display: flex;
				justify-content: center;
				align-items: center;

				text-decoration: none;
				outline: 0;
			}
			text-decoration: none;
			outline: 0;
		}
	}
}
