<footer id="page-footer">
	<div class="copyright">Copyright {{ site.time | date: '%Y' }} Alex (CompuCat).<br />
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/assets/img/cc-by.png" /></a><br />Except where otherwise noted, this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a> and is derived from <a href="https://heyquark.com">heyquark.com</a> by Ash Logan, also licensed under CC-BY 4.0.
	</div>
	<p>This site uses the Exo 2 font by <a href="http://www.ndiscovered.com/">Natanael Gama</a>.</p>
	<p>This site uses <a href='https://mutant.tech'>Mutant Standard emoji</a>, which are licensed under a <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/'>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
	<nav>
		<a href="{{"/" | relative_url}}">Home</a>
		<a href="{{"/about" | relative_url | static_url}}">About</a>
        <a href="{{"/privacy" | relative_url}}">Privacy</a>
	</nav>
</footer>
