<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

	<link rel="stylesheet" href="{{'/assets/fonts.css' | relative_url }}">
	<link rel="preload" as="font" type="application/font-woff" href="{{'/assets/woff/exo2.woff' | relative_url}}">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">


	<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

	<link rel="canonical" href="{{site.canon-url}}{{page.url}}">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ '/assets/mastodon.widget.css' | relative_url }}">
	<script src="{{ '/assets/mastodon.widget.js' | relative_url }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var mapi = new MastodonApi({
				target_selector:    "#masto-timeline",
				instance_uri:       "https://im-in.space",
				//please no steal
				access_token:       "172qxGwU4OJBjQgBE9-ImBW7txVnSOeBwMXt2mj_Zmk",
				account_id:         "102485",
			});
		});
	</script>


	<script src="{{ '/assets/atom-widget.js' | relative_url }}"></script>

	{{page.head_extras}}
</head>
<body>
