<header id="page-header">
	<a class="title" href="{{"/" | relative_url}}">{{site.title}}</a>
	<nav>
		<div class="topnav{% if page.blog_index %} current{% endif %}"><a href="{{ "/blog" | relative_url }}" class="link">Blog</a></div>
		{% for tpage in site.pages reversed%}
			{% if tpage.header_page %}
				<div class="topnav {% if tpage.url == page.url %}current {% endif %}{% if tpage.header_dropdown %}dropdown{% endif %}">
					<a href="{{ tpage.url | relative_url }}" class="link">{{ tpage.title }}</a>
					{% if tpage.header_dropdown %}
					<div class="dropdown-content">
						{% assign postsincat = site.posts | where:"category",tpage.dropdown_category %}
						{% for post in postsincat %}<a href="{{post.url | static_url}}">{{post.title | escape}}</a>{% endfor %}
					</div>
					{% endif%}
				</div>
			{% endif %}
		{% endfor %}
		{% comment %} Cleaned up significantly from Ash's hardcoded version. It's extensible \o/ {% endcomment %}
		{% comment %} The blog link is a hardcoded case. To put anything else in the titlebar, set header_page to true. {% endcomment %}
		{% comment %} Reversing the order is a dirty hack to push `About` to the right without truly doing an order implementation. {% endcomment %}
	</nav>
</header>
