<div id="page-sidebar">
<!--
    <script type="text/javascript">
        atomloadimages = function () {
            var elems = document.getElementById("atom-timeline").querySelectorAll("[data-atom-img-src]");
            for (var elem of elems) {
                elem.src = elem.dataset.atomImgSrc;
            }
        }
        document.addEventListener("DOMContentLoaded", function(event) {
            atomrun(function() {
                if (JSON.parse(localStorage.getItem("load-images") || "{\"state\":false}").state) {
                    atomloadimages();
                }
            });
        });
    </script>
    <div id="atom-header">
        <p>
            Toots by <a rel="me" href="https://im-in.space/@compucat">@compucat</a>
        </p>
        <div>
            <label for="option-loadimages">load images (saved)</label>
            <input type="checkbox" id="option-loadimages">
        </div>
    </div>
	<div id="atom-timeline" data-atomurl="https://im-in.space/@compucat.atom">
        <div class="atom-entry" id="atom-entry-template">
            <div class="atom-avi" style="display: none" onclick="atomimgclick(this)" data-atom-role="avatar"></div>
            <div class="atom-infoline">
                <span class="atom-boost-false" data-atom-share="">
                    <img class="emoji" src="/assets/img/mutant/objects/office_stationery/page_with_pencil.svg" title="Post" alt="Post"></span>
                <span class="atom-boost-true" data-atom-share="">
                    <img class="emoji" src="/assets/img/mutant/symbols/arrows/arrows_clockwise.svg" title="Boosted post" alt="Boosted post"></span>
                <span class="atom-dispname" data-atom-role="dispname"></span>
                <span class="atom-email" data-atom-role="email"></span>
            </div>
            <div class="atom-content" data-atom-role="content"></div>
            <a class="atom-url" target="_blank" data-atom-href="url"><span data-atom-media="">view media on </span>original post</a>
        </div>
	</div>
	<script type="text/javascript">
		var checkbox = document.getElementById("option-loadimages")

		checkbox.addEventListener("change", function(event) {
			localStorage.setItem("load-images",
				JSON.stringify({
					"state": event.target.checked
				})
			);
			hideShow();
		});

		checkbox.checked = JSON.parse(localStorage.getItem("load-images") || "{\"state\":false}").state;
		hideShow();
		function hideShow()
		{
			if (document.getElementById("option-loadimages").checked) {
				atomloadimages();
				for (let d of document.getElementsByClassName("atom-avi")) {d.style.display = "block";}
			}
			else {
				for (let d of document.getElementsByClassName("atom-avi")) {d.style.display = "none";}
			}
		}
	</script>
-->
	<div id="masto-timeline" class="mastodon-timeline mastodon-timeline-dark mastodon-timeline-ccme"></div>	
	<div class="recent-posts">
		<span class="title">Recent Posts</span>
		<nav>
		{% for post in site.posts limit:5 %}
			<a href="{{post.url | static_url}}">{{post.title | escape}}</a>
		{% endfor %}
		</nav>
	</div>
	<!-- <div class="kofi-button"> -->
		<!-- <a href='https://ko-fi.com/G2G8BYE8' target='_blank'><img src="{{"/assets/img/kofi.png" | relative_url}}" alt="Buy Me a Coffee at Ko-Fi"/></a> -->
	<!-- </div> -->
	<iframe class="ad" src="https://ads.heyquark.com/ad"
		sandbox="allow-popups allow-popups-to-escape-sandbox"></iframe>
	<div class="ad-text">
		<a href="https://ads.heyquark.com">heyquark ads</a>
		<p>ads are not endorsed by me</p>
	</div>
</div>
