//Font
$base-font-size: 15px;
$base-line-height: 1.4em;
$base-font-family: Lato, sans-serif;
$content-title-font-family: Exo2, sans-serif; //change to quicksand? 
$content-title-font-size: $base-font-size * 2;
$content-title-line-height: 1em;
$site-title-font-size: $base-font-size * 4;
$site-title-font-family: VT323, monospace; //try mr.pixel?
$site-nav-font-size: $base-font-size * 1.3;
$site-nav-font-family: $content-title-font-family;
$sidebar-title-font-size: 30px; //2em
$sidebar-title-font-family: VT323, monospace; //px10?

//Colours
$orange: #CE6610;
$blue: lighten(#105EB2, 7%);

$page-background-bottom-gradient: darken(#5e5e79,10%);
$page-background-top-gradient: lighten($page-background-bottom-gradient,10%);
$page-background: $page-background-top-gradient; //DEPRECATED, this is a hack :/
$page-element-shadow-colour: darken($blue, 20%);
$page-element-background: #ddd;
$content-area-text-colour: #000; //TODO
$content-title-text-colour: #000;
$site-title-text-colour: #000;
$site-nav-text-colour: #000;
$content-info-text-colour: #555;
$accent-border: $orange;
$faint-border: darken($page-element-background, 20%);
$footer-text-color: lighten($page-background, 25%);
$footer-link-color: lighten($page-background, 30%);

$linkcolor: #000;

//Layout
$page-width: 85vw;
$page-element-margins: 15px;
$content-area-flex-ratio: 3;
$header-width: $page-width;
$header-min-height: 5em;
$header-nav-max-width: $header-min-height * 1.6;
$content-area-min-width: 500px;
$sidebar-width: 175px;
$sidebar-flex-ratio: 1;

$break-large: 800px;

$page-width-mobile: 100vw;
$header-width-mobile: $page-width-mobile;

@mixin respond-to($media) {
  @if $media == medium-screens {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin page-element {
	background: $page-element-background;
	//box-shadow: 7px 7px 4px 0 $page-element-shadow-colour; //big dropshadow
	//box-shadow: 4px 4px 2px 0 $page-element-shadow-colour; //tiny dropshadow
    margin-top: $page-element-margins;
}

@import
	"heyquark/base",
	"heyquark/header",
	"heyquark/footer",
	"heyquark/aboutme",
    "heyquark/atom-tl"
;

.disable-lr-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.disable-top-padding {
	padding-top: 0 !important;
}
a {
   color: $linkcolor;
}
a:visited {
   color: $linkcolor;
}
a:hover {
   color: $linkcolor;
}

