---
layout: none
---

@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2.woff' | relative_url }}");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2-bold.woff' | relative_url }}");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2-italic.woff' | relative_url }}");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2-bolditalic.woff' | relative_url }}");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: px10;
    src: url("{{'/assets/px10.ttf' | relative_url }}");
    font-weight: normal;
    font-style: normal;
}