---
title: About
permalink: about/
do_sitemap: true
header_page: true
---
<div class="header">
    <div class="title">
        {{page.title}}
    </div>
</div>
<div class="text h-card" id="ash-hcard">

    <section class="bio-container">
        <a href="/assets/img/avi.png"><picture>
            <source type="image/webp" srcset="/assets/img/avis/avi-150px.webp,
                                              /assets/img/avis/avi-300px.webp 2x,
                                              /assets/img/avis/avi-500px.webp 3.3x">
            <source type="image/png" srcset="/assets/img/avis/avi-150px.png,
                                             /assets/img/avis/avi-300px.png 2x,
                                             /assets/img/avis/avi-500px.png 3.3x">
            <img class="u-photo avi" src="/assets/img/avi.png" alt="Avatar alt-text." title="Avatar title-text.">
        </picture></a>

        <p class="p-note bio-text">
		Hi! In true 90's fashion, I am Alex (aka compucat), and you've found my homepage/project repository. I like to make things: music, hardware, software, food, and perhaps a little hilarity in the moments in between.
		As of October 2023, I'm currently dabbling in: TASBot, home maintenance, audio engineering best practices, fribbling, medical device design, and countless other things.
        </p>
    </section>

	<section>
		You can usually find me by my username online, but it's been taken by others on some services.
		If you'd like to get in contact, I'm usually listening here: <br />
		<ul>
		<li><a href="https://discordapp.com">Discord (compucat)</a> - Use this for quick things. DMs out of the blue are inherently a bit suspicious, though - either use email or write a compelling message. :)</li>
		<li><a class="u-email" href="mailto:alex@compucat.me">Email (alex@compucat.me)</a> - Use this for longer things. Unless this is taken over by spammers, I should get any message you send here pretty quickly.</li>
		<li><u>XMPP (alex@compucat.me)</u> - oldschool, heck yeah. Secure (OMEMO please), but I'm not always available - partly because I am a terrible sysadmin. Contact me elsewhere first.</li>
        </ul>
		For convenience, here's some of my other presences:
        <ul>
            <li>
                <a href="{{site.canon-url}}">This website</a>
            </li>
			<li>
                <a href="https://www.youtube.com/channel/UCGxXellvtsRkqX4xc1n6j7g">YouTube (CompuCat)</a> - Place to dump video.
            </li>
			<li>
                <a href="https://twitch.tv/compucat">Twitch.tv (CompuCat)</a> - For occasions where I livestream.
            </li>
            <li>
                <a href="https://im-in.space/@compucat">Mastodon (compucat@im-in.space)</a> - Home of quick in-the-moment thoughts, when I bother. I usually also post when there's a new blog entry.
            </li>
			<li>
                <a href="https://gitlab.com/compucat">GitLab (compucat)</a> - Code, code, and more code.
            </li>
			<li>
                <a href="https://github.com/compucat">GitHub (compucat)</a> - When I can't GitLab.
            </li>
            <li>
                <a href="https://keybase.io/compucat">Keybase (compucat)</a> - For identity verification purposes.
            </li>
			<li>
                <a href="https://www.reddit.com/u/the-real-compucat">Reddit (the-real-compucat)</a> - Just reddit, nothing special.
            </li>
            <li>
                <a href="https://gbatemp.net/members/compucat.432661/">GBATemp (CompuCat)</a> - I don't use this much, but here I am.
            </li>
            <li>
                <a href="https://twitter.com/therealcompucat">Twitter (therealcompucat)</a> - meh. It's Twitter.
            </li>
			<li>
                <a href="https://soundcloud.com/compucat">SoundCloud (CompuCat)</a> - I used to dump audio here, not so much these days.
            </li>
        </ul>
    </section>
	<section>
		One other thing: much of the initial framework of this homepage borrows from my good friend <a href="https://heyquark.com">Ash's site</a>; thanks very much for that! (Go check out <a href="https://gitlab.com/compucat/compucat.me">this page's source code</a>, if you like.
	</section>
</div>
