---
title: Blag
permalink: blag/
do_sitemap: true
header_page: true
header_dropdown: true
dropdown_category: "blag"
---
<div class="header">
    <div class="title">
        {{page.title}}
    </div>
</div>
<div class="text">
	<section>
		The blag. Not to be confused with the blog. (Blags are the journal-esque things written on random topics: all blags are blogs, but few blogs are blags.) </br>
		Blags are intentionally written without plausible sequence or order...most of the time, anyway. They truly are just expressions of what's going through my mind - a call back to an older Internet perhaps, when private journals became ever-so-slightly public. Topics are often personal, and structure varies...sometimes rambly and loose, othertimes written more like an off-the-cuff essay. </br>

All in all, good writing practice.
	</section>
	<section>
		<h1>All blag entries:</h1>
		<ul><nav>
		{% for post in site.categories.blag %}
			<li><a href="{{post.url | static_url}}">{{post.title | escape}}</a> </li>
		{% endfor %}
		</nav></ul>
	</section>
</div>
