---
title: Music
permalink: music/
do_sitemap: true
header_page: true
header_dropdown: true
dropdown_category: music
---
<div class="header">
    <div class="title">
        {{page.title}}
    </div>
</div>
<div class="text">
	<section>
		Music is one of my greatest passions - these days, I'm mostly a live audio engineer. My first love will always be piano and keyboards of all types - I also play bass (competently) and guitar (not so much). Some people also tell me I sing well, though sadly I'm much out of practice.
	</section>
  <section>
    I used to record more music when I was in high school, but I haven't published much since.
    <!-- Recent endeavors:
    <ul>
      <li>One-off bass gigs (many of them with my good friend/drummer Henry)</li>
      <li>Many recorded demos that will probably never see the light of day</li>
      <li>Bass work with Ingrid Caroline (2019-2021).</li>
    </ul> -->
  </section>

	<!-- <section>
		<h1>Portfolio</h1>
		Here's some old stuff I did. It's okay, I guess.
		<ul><nav>
			<li>(2017) Late 80's synthpop: <a href="https://soundcloud.com/compucat/synthpop-in-the-air"><i>Synthpop In The Air</i></a></li>
			<li>(2017) A bit of laid-back house/electronica: <a href="https://soundcloud.com/compucat/powerline-60"><i>Powerline 60</i></a></li>
			<li>(2017) A quiet, ambient theme: <a href="https://soundcloud.com/compucat/starlight"><i>Starlight</i></a></li>
			<li>(2017) A small 2-mic session with Motel Blue, a band that no longer exists: <a href="https://soundcloud.com/compucat/whole-wide-world/s-fbF0t"><i>Whole Wide World</i></a> and <a href="https://soundcloud.com/compucat/hard-times/s-7qsEo"><i>Hard Times (Ray Charles cover)</i></a></li>
			<li>(2018) Hard rock fun thrown together in a week: <a href="https://www.youtube.com/watch?v=2J96kSDH8kc"><i>Can We Ever Know?</i></a></li>
			<li>(2018) An obligatory take on J-rock: <a href="https://soundcloud.com/compucat/standing-on-the-edge-of-time"><i>Standing On The Edge Of Time</i></a></li>
			<li>(2019) First steps towards Eurobeat: <a href="https://www.youtube.com/watch?v=3qSykm9s09Q"><i>Reign Of The Dark</i></a></li>
		</nav></ul>
		When I first started making music, I also released an album, <a href="https://compucat.bandcamp.com/album/origins">Origins (2016)</a>. It's mostly still up for posterity's sake. </br>
		I still throw up in-progress snippets and finished things on <a href="https://soundcloud.com/compucat">my SoundCloud page</a> out of habit, though it's a dying platform.
	</section> -->
  <section>
		I know <i>somebody</i> will be curious...so here's my current gear list as of April 2022:
		<ul>
			<li>Keyboards/synths: Yamaha S90ES, Roland Alpha Juno-1, Roland D-110</li>
			<li>Guitar stuff: Fender MIM HSS Stratocaster (quirky, has a built-in audio interface! ...and bad fret sprout)</li>
			<li>Basses: Custom Jazz bass (first instrument I ever built!) and my parts P-bass with flats (really been loving this lately)</li>
			<li>Teenage Engineering PO-32 Tonic</li>
			<li>Ableton Live 10 Suite with a plethora of plugins and assorted samples</li>
			<li>Multitool audio rack: Behringer X32 Producer, 2x Sennheiser ew300 G3, 2x Sennheiser ew300 G3 IEM</li>
      <li>Other audio interfaces: Behringer SD16, Klark Teknik DN9630, NI Audio Kontrol 1 (ol' faithful)</li>
			<li>Audio sources: Alclair RSM (primary reference these days), PreSonus E5 (not perfect, but improved with DSP), Sony MDR-7506, Shure SE215</li>
			<li>Mic locker: sE V7/V3, Sennheiser e609/e604, Audix D6, MXL V67G, Behringer C2 (still need to mod these), Pyle PDMIC78, Sennheiser MME865</li>
			<li>Scrap 2x4 pedalboard containing: Boss TU-3, TC Cinders (modded to play better with bass), Behringer BDI21.</li>
		</ul>
	</section>
  <section>
		And some equipment that's either been sold on or is sitting in the "fix-me" pile:
		<ul>
			<li>Tascam US-1800 (sadly never got around to continuing work on Linux support...)</li>
			<li>PreSonus FireStudio 2626 (now being used to provide free recordings for up-and-coming musicians!)</li>
			<li>Behringer FCA1616 (bought it for-parts for $25, PSU + converter repair was unsuccessful)</li>
      <li>Behringer TO800 (broken, haven't had the energy to diagnose the failure)</li>
      <li>TC June-60 V1 (still redesigning the circuit to match a genuine Juno more closely)</li>
		</ul>
	</section>
	<section>
		<h1>All music-related posts:</h1>
		<ul><nav>
		{% for post in site.categories.music %}
			<li><a href="{{post.url | static_url}}">{{post.title | escape}}</a> </li>
		{% endfor %}
		</nav></ul>
	</section>
</div>
