---
title: Privacy
permalink: privacy/
do_sitemap: true
---
<div class="header">
    <div class="title">
        Privacy
    </div>
</div>
<div class="text">
Unless explicitly stated elsewhere, his webpage doesn't collect your data. That's it, plain and simple.
There's a few other things I'm fairly sure I have to mention, though:<p/>
<ul>
    <li>This site is routed through Cloudflare, which has its own privacy policy that affects this website. <a href="https://www.cloudflare.com/privacypolicy/">Check it out here</a>. I also use some files from CDNJS, which has the same policy.</li>
    <li>I host this website using GitLab Pages - <a href="https://about.gitlab.com/privacy/">go read their policy</a>.</li>
    <li>Some pages have comments powered by Commento.io. You can check out their privacy policy at <a href="https://commento.io/privacy/">commento.io/privacy</a>.</li>
    <li>Ash's custom Mastodon timeline pulls from an Atom feed running on my home instance, <a href="https://im-in.space">im-in.space.</a> That instance shouldn't ever see your data, but if you're curious anyway, <a href="https://im-in.space/terms"> you can view their privacy policy here.</a> The timeline does log your preference to load or not to load images, but this preference is stored in your browser. (I never see it.)</li>
</ul><p/>
You can opt out of Commento services by disabling JavaScript for this website. There's not much I can do about Cloudflare, sorry.
</div>
