{% include head.html %}
	{% include header.html %}

	<div id="page-wrapper"><div id="page-wrapper-inner">
		{% include sidebar.html %}
		<main id="page-content">
			{{content}}
		</main>
	</div></div>

	{% include footer.html %}
{% include tail.html %}
