{% include head.html %}
	{% include header.html %}

	<div id="page-wrapper"><div id="page-wrapper-inner">
		{% include sidebar.html %}
		<main id="page-content" class="h-entry">
			<div class="header">
				<a class="u-url u-uid title disable-lr-padding" href="{{page.url |  static_url}}">
					<span class="p-name">
					{{page.title | escape}}</span>
				</a>
				<div class="info disable-lr-padding">
					<span class="p-author h-card author"><a class="u-url u-uid" href="{{page.author_card}}">
						{{page.author | escape}}</a></span>
					<span class="p-category category">
						{{page.category | escape}}</span>
					<span class="p-category tags">
						{% for tag in page.tags %}
							{{tag | escape}}
						{% endfor %}
					</span>
					<time class="dt-published date" datetime="{{page.date | date_to_xmlschema}}">
						{{page.date | date_to_long_string }}</time>
				</div>
			</div>

			<div class="e-content text post-text">
				<!--You are using the <b>POST</b> layout<p />-->
				{{content}}
			</div>

			<div class="disqus-wrapper">
				{% if page.comments %}{% include commento.html %}{% endif %}
			</div>
		</main>
	</div></div>

	{% include footer.html %}
{% include tail.html %}
